@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .border,
    .border-2,
    .border-r,
    .border-l,
    .border-t,
    .border-b,
    .border-x,
    .border-y {
        @apply dark:border-[#333333];
    }
  }

/* to see list of all values, go to the React Masonry CSS link above */
.my-masonry-grid {
  display: flex;
  width: auto;
  margin: 10px; /* gutter size offset */
}
.my-masonry-grid_column {
 /* gutter size */
  background-clip: padding-box;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* style items */
.my-masonry-grid_column > div { /* change div to reference elements in <Masonry> */
  margin-bottom: 20px;
}

/*
  neutral: {
    '50': '#fafafa'
    '100': '#f5f5f5'
    '200': '#e5e5e5'
    '300': '#d4d4d4'
    '400': '#a3a3a3'
    '500': '#737373'
    '600': '#525252'
    '700': '#404040'
    '800': '#262626'
    '900': '#171717'
  }
*/

.primaryButton {
  @apply rounded-md h-8 px-3 font-medium bg-[#e5e5e5] dark:bg-[#383838] md:dark:text-[#e5e5e5] text-sm active:bg-[#d8d8d8] active:dark:bg-[#4b4b4b] disabled:bg-[#f5f5f5] disabled:text-[#e5e5e5] disabled:dark:bg-[#121212] disabled:dark:text-[#404040] hover:disabled:cursor-no-drop;
}

.secondaryButton {
  @apply h-8 px-3 text-sm font-medium rounded-md active:text-[#a3a3a3] active:dark:text-[#737373];
}

.navbarButton {
  @apply relative rounded-md py-3 px-3 font-medium hover:rounded-md hover:bg-[#e5e5e5] hover:py-3 hover:px-3 dark:text-[#e5e5e5] dark:hover:bg-[#333333];
}

.settingsButton {
  @apply h-8 w-[110px] rounded-md border-none bg-[#e5e5e5] text-sm font-semibold text-[#404040] focus:ring-[#121212] active:bg-[#d8d8d8] dark:bg-[#383838] dark:text-[#d4d4d4] dark:focus:ring-[#dcdcdc] active:dark:bg-[#5c5a5a] focus:ring-1 focus:outline-none;
}

.tooltip {
  @apply absolute left-full translate-x-2 translate-y-2 whitespace-nowrap rounded bg-[#333333] py-2 px-2 text-xs font-medium text-[#e5e5e5] opacity-0 transition-opacity group-hover:opacity-95;
}

.imageInput {
  @apply z-10 h-full w-full cursor-pointer rounded border border-dashed border-[#d4d4d4] text-sm text-transparent file:border-0 file:bg-transparent file:text-transparent hover:border-[#a3a3a3] focus:border-[#121212] focus:outline-0 focus:ring-0 dark:border-[#525252] hover:dark:border-[#737373] focus:dark:border-[#dcdcdc];
}

.input {
  @apply w-full rounded border border-[#d4d4d4] bg-[#f8f8f8] text-sm focus:border-[#121212] focus:outline-none focus:ring-0 dark:border-[#525252] dark:bg-transparent dark:focus:border-[#dcdcdc] placeholder:text-[#a3a3a3] dark:placeholder-[#737373] dark:bg-[#262626];
}
